<nav class="navbar navbar-expand-md bg-light navbar-light">
  <a href="#" class="navbar-brand">Recipe Book</a>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link" active>Recipes</a>
      <a href="#" class="nav-item nav-link">Shopping List</a>
    </div>
    <div class="navbar-nav navbar-right">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button"
          >Manage <span class="caret"></span
        ></a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Save Data</a>
          <a href="#" class="dropdown-item">Fetch Data</a>
        </div>
      </div>
    </div>
  </div>
</nav>
